/* Container sizes */
/* Colors */
/* Typography */
/* Buttons */
/* Blocks */
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  background-color: transparent; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

textarea {
  resize: none; }

section {
  position: relative; }

input,
select,
button {
  outline: none;
  padding: 0; }

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%; }

svg {
  overflow: hidden;
  vertical-align: middle; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Blocks */
/* Container sizes */
/* Colors */
/* Typography */
/* Buttons */
/* Blocks */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu.js-show-menu {
    -webkit-transform: translate(0);
            transform: translate(0); }
  @media screen and (max-width: 768px) {
    .menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.6);
      -webkit-transform: translate(-100%, 0);
              transform: translate(-100%, 0);
      z-index: 10; } }
  .menu__li {
    margin-right: 3.8vw; }
    @media screen and (max-width: 768px) {
      .menu__li {
        margin-right: 0;
        margin-bottom: 3rem; } }
    .menu__li:last-child {
      margin-right: 0;
      margin-bottom: 0; }
    .menu__li:nth-last-child(2) {
      margin-right: 8.43vw; }
      @media screen and (max-width: 768px) {
        .menu__li:nth-last-child(2) {
          margin-right: 0; } }
  .menu__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    -webkit-transition: color ease-in-out 0.2s;
    transition: color ease-in-out 0.2s;
    position: relative; }
    @media screen and (max-width: 768px) {
      .menu__link {
        margin-right: 0;
        font-size: 40px; } }
    .menu__link:hover::before {
      width: 100%; }
    .menu__link:before {
      -webkit-transition: width 0.35s ease;
      transition: width 0.35s ease;
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      height: 4px;
      width: 0%;
      background-color: #fcc304; }
    .menu__link:hover {
      color: #ededed; }

.slider {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 16.4rem; }
  .slider__text-block {
    position: absolute;
    bottom: 8.6rem;
    left: 10rem;
    text-align: left; }
    @media screen and (max-width: 1120px) {
      .slider__text-block {
        bottom: 14.6rem; } }
    @media screen and (max-width: 768px) {
      .slider__text-block {
        left: 4rem; } }
  .slider__title {
    font-weight: 800;
    font-size: 12.6px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
    margin-bottom: 4px; }
  .slider__subtitle {
    font-weight: 900;
    font-size: 1.9rem;
    line-height: 1.4;
    color: #fff; }
  @media screen and (max-width: 576px) {
    .slider {
      margin-bottom: 8.2rem; } }
  .slider__img {
    width: 100%; }
  .slider__button {
    position: absolute;
    left: -8rem;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 8rem;
    height: 6rem;
    background-color: #fcc304;
    color: #fff;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
    .slider__button:active {
      height: 5.5rem; }
    .slider__button:hover {
      background-color: #e9b403; }
    @media screen and (max-width: 1120px) {
      .slider__button {
        position: initial; } }
    .slider__button--right {
      margin-left: 8rem;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px; }
      @media screen and (max-width: 1120px) {
        .slider__button--right {
          margin-left: 0; } }
    .slider__button--left {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px; }

.header {
  position: relative; }
  .header::after {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #56ccf2;
    height: 73.4%;
    -webkit-clip-path: polygon(0 0, 98% 0, 65% 100%, 0% 100%);
            clip-path: polygon(0 0, 98% 0, 65% 100%, 0% 100%); }
    @media screen and (max-width: 768px) {
      .header::after {
        -webkit-clip-path: initial;
                clip-path: initial; } }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5rem;
    margin-bottom: 8.4rem; }
  .header__logo {
    margin-right: 8.93vw; }
  .header__logo-link {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1;
    color: #fff;
    -webkit-transition: color ease-in-out 0.2s;
    transition: color ease-in-out 0.2s; }
    .header__logo-link:hover {
      color: #ededed; }
  .header__title {
    font-weight: 900;
    font-size: 6.4rem;
    color: #fff;
    margin-left: 6.25vw;
    margin-bottom: 2.2rem;
    max-width: 854px; }
    @media screen and (max-width: 1280px) {
      .header__title {
        max-width: 600px;
        font-size: 4.57143rem; } }
  .header__subtitle {
    font-size: 2.4rem;
    max-width: 754px;
    margin-left: 6.25vw;
    color: #fff;
    margin-bottom: 4.2rem; }
    @media screen and (max-width: 1280px) {
      .header__subtitle {
        max-width: 600px;
        font-size: 2.18182rem; } }
  .header__button {
    color: #253757;
    margin-left: 6.25vw;
    background-color: #fff;
    font-weight: 700;
    padding: 1.6rem 6.5rem;
    margin-bottom: 8rem; }
    .header__button:hover {
      background-color: #ededed; }
  .header__socials {
    position: absolute;
    right: -64px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%; }
    @media screen and (max-width: 1120px) {
      .header__socials {
        right: 1.5rem;
        height: 91%; } }
    @media screen and (max-width: 768px) {
      .header__socials {
        height: 87%; } }
    @media screen and (max-width: 576px) {
      .header__socials {
        height: 84%; } }
    @media screen and (max-width: 460px) {
      .header__socials {
        height: 80%; } }
  .header__social {
    color: #253757;
    font-weight: 800;
    font-size: 1.26rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    display: inline-block;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    @media screen and (max-width: 560px) {
      .header__social {
        font-size: 0.76rem; } }
    @media screen and (max-width: 1120px) {
      .header__social {
        color: #fff; } }
    .header__social:hover {
      color: #fcc304; }
    .header__social:last-child {
      margin-right: 0; }

.welcome {
  max-width: 46.25vw;
  margin-bottom: 13.6rem; }
  @media screen and (max-width: 1200px) {
    .welcome {
      max-width: 100%; } }
  .welcome__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 19px; }
  .welcome__icon {
    width: 21px;
    height: 21px;
    margin-right: 16px; }
  .welcome__text {
    font-weight: 800;
    font-size: 1.6rem;
    color: #56ccf2; }
  .welcome__subtitle {
    font-size: 2.4rem;
    font-weight: 600; }

.what-we-do {
  background-color: #fff;
  padding-bottom: 16.2rem; }
  @media screen and (max-width: 576px) {
    .what-we-do {
      padding-bottom: 14rem; } }
  .what-we-do__flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .what-we-do__title {
    font-weight: 900;
    font-size: 4.8rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 13.6rem; }
    @media screen and (max-width: 576px) {
      .what-we-do__title {
        margin-bottom: 9.6rem; } }
  .what-we-do__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    @media screen and (max-width: 576px) {
      .what-we-do__cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .what-we-do__card {
    -ms-flex-preferred-size: 26.4rem;
        flex-basis: 26.4rem; }
    @media screen and (max-width: 768px) {
      .what-we-do__card {
        -ms-flex-preferred-size: 204px;
            flex-basis: 204px;
        margin-right: 10px; } }
    @media screen and (max-width: 576px) {
      .what-we-do__card {
        margin-right: 0;
        border-bottom: 1px solid #ccc; } }
    @media screen and (max-width: 768px) {
      .what-we-do__card:last-child {
        margin-right: 0; } }
  .what-we-do__photo {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    margin-bottom: 6.4rem;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .what-we-do__photo {
        width: 14rem;
        height: 14rem; } }
    @media screen and (max-width: 576px) {
      .what-we-do__photo {
        margin: auto;
        margin-top: 20px;
        width: 18rem;
        height: 18rem;
        margin-bottom: 20px; } }
  .what-we-do__img {
    border-radius: 50%;
    width: 100%;
    height: 100%; }
  .what-we-do__subtitle {
    font-weight: 900;
    font-size: 19.6px;
    line-height: 1.4;
    margin-bottom: 3.2rem; }
    @media screen and (max-width: 768px) {
      .what-we-do__subtitle {
        font-size: 14px; } }
  .what-we-do__description {
    font-size: 16px;
    line-height: 150%; }
    @media screen and (max-width: 768px) {
      .what-we-do__description {
        font-size: 13px; } }
    @media screen and (max-width: 576px) {
      .what-we-do__description {
        margin-bottom: 20px; } }

.button {
  font-size: 16px;
  line-height: 1.5;
  border: none;
  cursor: pointer;
  border-radius: 64px;
  border: 2px solid transparent;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .button:focus {
    border-color: #fcc304; }
  .button:active {
    -webkit-transform: scale(0.98);
            transform: scale(0.98); }

.process {
  padding-top: 16rem;
  z-index: 5; }
  @media screen and (max-width: 960px) {
    .process {
      padding-bottom: 14rem; } }
  @media screen and (max-width: 576px) {
    .process {
      padding-top: 14rem; } }
  .process__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.9rem; }
    @media screen and (max-width: 576px) {
      .process__name--contact {
        margin-bottom: 8rem; } }
    .process__name--mb {
      margin-bottom: 10.4rem; }
  .process__icon {
    width: 21px;
    height: 21px;
    margin-right: 16px; }
  .process__text {
    font-weight: 800;
    font-size: 16px;
    color: #56ccf2;
    text-transform: uppercase; }
    .process__text--color-white {
      color: #fff; }
  .process__title {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 1.4;
    max-width: 362px;
    margin-bottom: 6.4rem; }
  .process__paragraph {
    font-size: 16px;
    line-height: 150%;
    max-width: 364px; }
    @media screen and (max-width: 960px) {
      .process__paragraph {
        max-width: 90%;
        margin-bottom: 2rem; } }
  .process__card {
    width: 24rem;
    height: 25.6rem;
    padding: 4.8rem 3.2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #fff; }
    @media screen and (max-width: 1280px) {
      .process__card {
        padding: 2.8rem 3.2rem; } }
    @media screen and (max-width: 959px) {
      .process__card {
        padding: 3rem;
        margin-right: 1rem !important;
        margin-bottom: 1rem; }
        .process__card:last-child {
          margin-right: 0 !important; } }
    .process__card--mr {
      margin-right: 5.8rem; }
      @media screen and (max-width: 960px) {
        .process__card--mr {
          margin-right: 0; } }
    .process__card--mt {
      margin-top: 11.2rem; }
      @media screen and (max-width: 960px) {
        .process__card--mt {
          margin-top: 0; } }
  .process__circle {
    width: 48px;
    height: 48px;
    background: #f1fbfe;
    border-radius: 50%;
    position: relative;
    opacity: 1;
    margin-bottom: 3.2rem; }
    .process__circle--2 {
      background: #fffaea; }
    .process__circle--3 {
      background: #eafbef; }
    .process__circle--4 {
      background: #fef0f0; }
  .process__circle-number {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    font-weight: 900;
    font-size: 4rem;
    line-height: 1;
    color: #56ccf2;
    opacity: 1; }
    .process__circle-number--2 {
      color: #fcc713; }
    .process__circle-number--3 {
      color: #17d851; }
    .process__circle-number--4 {
      color: #f36363; }
  .process__desc {
    font-size: 12.6px; }
  .process__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 960px) {
      .process__main {
        display: initial; } }
  .process__left {
    width: 40%; }
    @media screen and (max-width: 960px) {
      .process__left {
        width: 100%; } }
  .process__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%; }
    @media screen and (max-width: 960px) {
      .process__right {
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    @media screen and (max-width: 800px) {
      .process__right {
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }

.features {
  margin-top: -16rem;
  background-color: #56ccf2;
  position: relative;
  overflow: hidden;
  padding-top: 19.8rem;
  padding-bottom: 16rem; }
  @media screen and (max-width: 960px) {
    .features {
      margin-top: 0;
      padding-top: 9.4rem;
      padding-bottom: 9.4rem; } }
  .features__bcg {
    max-width: 60%;
    position: absolute;
    right: -5%;
    top: 0;
    -webkit-clip-path: polygon(38% 0%, 100% 0, 65% 100%, 0% 100%);
            clip-path: polygon(38% 0%, 100% 0, 65% 100%, 0% 100%);
    height: 100%; }
    @media screen and (max-width: 768px) {
      .features__bcg {
        display: none; } }
    .features__bcg-img {
      width: 100%;
      height: 100%;
      display: inline-block;
      -o-object-fit: cover;
         object-fit: cover; }
  .features__title {
    margin-bottom: 6.9rem;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 1.4; }
  .features__icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    margin-right: 3.2rem; }
  .features__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6.4rem; }
    .features__card:last-child {
      margin-bottom: 0; }
  .features__card-text {
    max-width: 26.3rem;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #fff; }
    @media screen and (max-width: 768px) {
      .features__card-text {
        max-width: 75%; } }

.testimonials {
  padding-top: 16.5rem;
  margin-bottom: 1rem;
  background-color: #fff; }
  @media screen and (max-width: 576px) {
    .testimonials {
      padding-top: 8.25rem; } }
  .testimonials__title {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 1.4;
    margin-bottom: 12rem; }
  .testimonials__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 576px) {
      .testimonials__cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .testimonials__card {
    padding: 3.7rem 3.2rem 5.8rem;
    max-width: 314px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fefefe;
    -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
            box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    cursor: pointer;
    z-index: 5; }
    .testimonials__card:hover {
      -webkit-transform: translateY(5px);
              transform: translateY(5px); }
    @media screen and (max-width: 1080px) {
      .testimonials__card {
        padding: 3.7rem 1.2rem 4.8rem;
        max-width: 260px; } }
    @media screen and (max-width: 860px) {
      .testimonials__card {
        max-width: 236px; } }
    @media screen and (max-width: 576px) {
      .testimonials__card {
        -webkit-box-shadow: -1px 8px 22px -9px rgba(0, 0, 0, 0.4);
                box-shadow: -1px 8px 22px -9px rgba(0, 0, 0, 0.4);
        margin-bottom: 2rem; } }
  .testimonials__avatar {
    height: 190px;
    margin-bottom: 5px; }
  .testimonials__line {
    height: 161px;
    width: 64px;
    border-radius: 64px;
    -webkit-transform: rotate(24deg);
            transform: rotate(24deg); }
    .testimonials__line--1 {
      background-color: #56ccf2; }
    .testimonials__line--2 {
      background-color: #fcc304; }
    .testimonials__line--3 {
      background-color: #f25656; }
  .testimonials__photo-wrapper {
    width: 64px;
    height: 124px;
    z-index: 10;
    background: transparent;
    -webkit-transform: rotate(-24deg);
            transform: rotate(-24deg);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border-radius: 64px;
    background-repeat: no-repeat;
    position: relative;
    top: -100px; }
  .testimonials__photo {
    position: absolute;
    top: 0;
    left: -25%;
    width: 150%;
    height: 100%;
    border: 1px solid red;
    background-position: center;
    background-size: cover;
    -webkit-transform: rotate(24deg);
            transform: rotate(24deg); }
    .testimonials__photo--1 {
      background-image: url("../images/testimonials/girl-1.jpg"); }
    .testimonials__photo--2 {
      background-image: url("../images/testimonials/girl-2.jpg"); }
    .testimonials__photo--3 {
      background-image: url("../images/testimonials/girl-3.jpg"); }
  .testimonials__desc {
    text-align: center;
    margin-bottom: 3rem; }
  .testimonials__hr {
    width: 6.4rem;
    height: 2px;
    background-color: #56ccf2;
    margin-bottom: 3rem; }
  .testimonials__name {
    font-weight: 700;
    font-size: 1.36rem; }
  .testimonials__position {
    text-transform: uppercase;
    color: #56ccf2;
    font-weight: 800; }

.shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .shapes__item {
    position: absolute;
    display: block;
    list-style: none;
    width: 56px;
    height: 143px;
    border: 5px solid #56ccf2;
    border-radius: 64px;
    -webkit-animation: animate-shapes 25s linear infinite;
            animation: animate-shapes 25s linear infinite;
    bottom: -150px; }
    .shapes__item--1 {
      left: 25%;
      width: 56px;
      height: 143px;
      -webkit-animation-delay: 0s;
              animation-delay: 0s;
      border-color: #56ccf2; }
    .shapes__item--2 {
      left: 10%;
      width: 28px;
      height: 70px;
      -webkit-animation-duration: 12s;
              animation-duration: 12s;
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
      border-color: #fcc304; }
    .shapes__item--3 {
      left: 70%;
      width: 18px;
      height: 48px;
      -webkit-animation-delay: 4s;
              animation-delay: 4s;
      border-color: #80e9a0; }
    .shapes__item--4 {
      left: 40%;
      width: 56px;
      height: 143px;
      border: 3px solid green;
      -webkit-animation-delay: 0s;
              animation-delay: 0s;
      -webkit-animation-duration: 18s;
              animation-duration: 18s;
      border: 5px solid #dd82fd; }
    .shapes__item--5 {
      left: 60%;
      width: 16px;
      height: 40px;
      -webkit-animation-delay: 0s;
              animation-delay: 0s;
      border: 3px solid #56ccf2; }
    .shapes__item--6 {
      left: 75%;
      width: 28px;
      height: 70px;
      -webkit-animation-delay: 3s;
              animation-delay: 3s;
      border-color: #fcc304; }
    .shapes__item--7 {
      left: 35%;
      width: 14px;
      height: 36px;
      -webkit-animation-delay: 7s;
              animation-delay: 7s;
      border: 3px solid #dd82fd; }
    .shapes__item--8 {
      left: 50%;
      width: 28px;
      height: 70px;
      -webkit-animation-delay: 15s;
              animation-delay: 15s;
      -webkit-animation-duration: 45s;
              animation-duration: 45s;
      border-color: #80e9a0; }
    .shapes__item--9 {
      left: 16%;
      width: 40px;
      height: 102px;
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
      -webkit-animation-duration: 35s;
              animation-duration: 35s;
      border-color: #fcc304; }
    .shapes__item--10 {
      left: 85%;
      width: 44px;
      height: 114px;
      -webkit-animation-delay: 0s;
              animation-delay: 0s;
      -webkit-animation-duration: 11s;
              animation-duration: 11s;
      border-color: #dd82fd; }
    .shapes__item--11 {
      left: 89%;
      width: 14px;
      height: 36px;
      -webkit-animation-delay: 1s;
              animation-delay: 1s;
      -webkit-animation-duration: 13s;
              animation-duration: 13s;
      border: 3px solid #56ccf2; }
    .shapes__item--12 {
      left: 94%;
      width: 44px;
      height: 114px;
      -webkit-animation-delay: 20s;
              animation-delay: 20s;
      -webkit-animation-duration: 14s;
              animation-duration: 14s;
      border: 5px solid #80e9a0; }
    .shapes__item--13 {
      left: 56%;
      width: 28px;
      height: 70px;
      -webkit-animation-delay: 15s;
              animation-delay: 15s;
      -webkit-animation-duration: 12s;
              animation-duration: 12s; }
    .shapes__item--14 {
      left: 47%;
      width: 40px;
      height: 102px;
      -webkit-animation-delay: 5s;
              animation-delay: 5s;
      -webkit-animation-duration: 10s;
              animation-duration: 10s;
      border-color: #fcc304; }

@-webkit-keyframes animate-shapes {
  0% {
    -webkit-transform: translateY(0) rotate(0deg) scale(0.5);
            transform: translateY(0) rotate(0deg) scale(0.5);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg) scale(1.6);
            transform: translateY(-1000px) rotate(720deg) scale(1.6);
    opacity: 0; } }

@keyframes animate-shapes {
  0% {
    -webkit-transform: translateY(0) rotate(0deg) scale(0.5);
            transform: translateY(0) rotate(0deg) scale(0.5);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg) scale(1.6);
            transform: translateY(-1000px) rotate(720deg) scale(1.6);
    opacity: 0; } }

.apply {
  padding-top: 32rem;
  padding-bottom: 16rem;
  background-color: #fcfcfc;
  margin-top: -17rem;
  text-align: center;
  position: relative;
  z-index: 2; }
  .apply__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 5.6rem;
    position: relative;
    z-index: 2; }
  .apply__subtitle {
    font-weight: 600;
    font-size: 2.4rem;
    color: #334563;
    margin-bottom: 5.5rem;
    position: relative;
    z-index: 2; }
  .apply__button {
    position: relative;
    padding: 16px 88px;
    background-color: #2f80ed;
    color: #fff;
    z-index: 5; }
    .apply__button:hover {
      background-color: #1262cd; }

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13.6rem;
  padding-top: 9.6rem; }
  @media screen and (max-width: 576px) {
    .footer__top {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8.4rem; }
  @media screen and (max-width: 576px) {
    .footer__bottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.footer__designed {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5rem;
  color: #253757;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }
  .footer__designed:hover {
    color: #fcc304; }
  @media screen and (max-width: 576px) {
    .footer__designed {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; } }

.secondary-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .secondary-menu {
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%; } }
  @media screen and (max-width: 576px) {
    .secondary-menu {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      width: 100%;
      margin-bottom: 2rem;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .secondary-menu__li:last-child {
    margin-right: 2rem; }
  .secondary-menu__link {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #253757;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
    .secondary-menu__link:hover {
      color: #fcc304; }

.message {
  -ms-flex-preferred-size: 56%;
      flex-basis: 56%; }
  @media screen and (max-width: 901px) {
    .message {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; } }

.contact {
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%; }
  @media screen and (max-width: 576px) {
    .contact {
      text-align: center; } }
  @media screen and (max-width: 901px) {
    .contact {
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%; } }
  .contact__title {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 1.4;
    margin-bottom: 4.8rem; }
    @media screen and (max-width: 901px) {
      .contact__title {
        font-size: 2.4rem; } }
  .contact__slogan {
    font-weight: 800;
    font-size: 12.6px;
    text-transform: uppercase;
    color: #334563; }
  .contact__tel {
    font-weight: 900;
    font-size: 2.4rem;
    letter-spacing: 2px;
    color: #56ccf2;
    display: inline-block;
    margin-bottom: 4.1rem;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
    .contact__tel:hover {
      color: #10a3d2; }
  .contact__map {
    font-weight: 900;
    font-size: 2.4rem;
    letter-spacing: 2px;
    color: #56ccf2;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    display: inline-block;
    margin-bottom: 5.3rem; }
    .contact__map:hover {
      color: #10a3d2; }
  .contact__social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 576px) {
      .contact__social-icons {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .contact__social-icon {
    width: 32px;
    height: 32px;
    margin-right: 4.8rem;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
    .contact__social-icon:last-child {
      margin-right: 0; }
    .contact__social-icon:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

.form {
  width: 100%;
  color: red; }
  .form__field {
    width: 100%;
    margin-bottom: 3.4rem; }
    .form__field--last {
      margin-bottom: 10rem; }
  .form__input {
    background-color: #fcfcfc;
    width: 100%;
    font-size: 1.44rem;
    border: none;
    color: #152032;
    padding: 1.8rem 0;
    border-bottom: 1px solid #e1e1e1; }
    .form__input::-webkit-input-placeholder {
      color: #808080; }
    .form__input::-moz-placeholder {
      color: #808080; }
    .form__input:-ms-input-placeholder {
      color: #808080; }
    .form__input::-ms-input-placeholder {
      color: #808080; }
    .form__input::placeholder {
      color: #808080; }
    .form__input:focus {
      border-color: #fcc304; }
  .form__button {
    color: #fff;
    padding: 1.6rem 9.2rem;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #2f80ed; }
    @media screen and (max-width: 576px) {
      .form__button {
        margin-bottom: 13.4rem;
        width: 100%; } }
    .form__button:hover {
      background-color: #1262cd; }

.burger {
  height: 56px;
  width: 100px;
  position: absolute;
  top: 5rem;
  right: 25px;
  cursor: pointer;
  z-index: 100;
  display: none; }
  @media screen and (max-width: 768px) {
    .burger {
      display: initial; } }
  .burger__bar {
    height: 10px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    background-color: #253757;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }
    .burger__bar.js-open {
      -webkit-transform: translate(-50%, -50%) rotate(135deg);
              transform: translate(-50%, -50%) rotate(135deg);
      background-color: #fcc304; }
      .burger__bar.js-open::before {
        top: 0;
        -webkit-transform: translateX(100%) rotate(-90deg);
                transform: translateX(100%) rotate(-90deg); }
      .burger__bar.js-open::after {
        bottom: 0;
        -webkit-transform: translateX(-100%) rotate(-90deg);
                transform: translateX(-100%) rotate(-90deg); }
    .burger__bar::before, .burger__bar::after {
      content: "";
      position: absolute;
      height: inherit;
      border-radius: inherit;
      background-color: inherit;
      margin: auto;
      width: 50%;
      -webkit-transition: all ease 0.5s;
      transition: all ease 0.5s; }
    .burger__bar::before {
      top: -20px;
      left: 0;
      -webkit-transform-origin: left;
              transform-origin: left; }
    .burger__bar::after {
      bottom: -20px;
      right: 0;
      -webkit-transform-origin: right;
              transform-origin: right; }

html {
  font-size: 62.5%;
  line-height: 1.5; }
  @media screen and (max-width: 1440px) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 1280px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  color: #253757;
  background-color: #fcfcfd;
  font-size: 1.6rem; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1176px;
  margin: auto; }
  @media screen and (max-width: 1366px) {
    .container {
      max-width: 1060px; } }
  @media screen and (max-width: 1280px) {
    .container {
      max-width: 1000px; } }

/* body no scroll */
.js-no-scroll {
  overflow: hidden; }

/*# sourceMappingURL=main.css.map */
